.hero {
  background-image: url("../images/background3.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 80px;
}

.hero::before {
  content: "";
  position: fixed;
  inset: 0;

  background-size: cover;
  background-position: center;

  z-index: -1;
}

.hero-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
  column-gap: 30px;
  align-items: start;
  max-width: 970px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 32px;
}

.hero-div {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  max-width: 450px;
  height: 450px;
  border-radius: 32px;
  margin-left: 2rem;
}

.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 300px;
  margin-top: 2rem;
}

.hero-divImg {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 4rem;
  margin-top: 1rem;
  height: 150%;
  width: auto;
  z-index: 1;
}

.hero-divImg img {
  border-radius: 24px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
}

.text {
  position: absolute;
  top: 200px;
  left: 20px;
  width: 200px;
  padding: 0.5rem;
  color: var(--text);
  font-family: "var(--font-mono)";
  background-color: rgba(15, 23, 42, 0.5);
  border-radius: 24px;
  z-index: 10;
}

.hero-h1 {
  color: var(--text);
  text-align: left;
  font-size: 5.5rem;
  text-shadow: 0px 4px 12px black;
  font-family: "Space Grotesk";
  font-weight: 900;
  letter-spacing: 18px;
  line-height: 100%;
}

.hero-p {
  color: var(--text);
  text-align: left;
  font-family: var(--font-mono);
  font-size: 2.5rem;
  text-shadow: 0px 4px 12px black;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  background-color: var(--bg);
  color: #ccd5d9;
  border: 1px solid var(--accent);
  vertical-align: middle;
  padding: 10px 20px;
  width: 15rem;

  font-size: 2rem;
  letter-spacing: 1.5px;

  border: none;
  outline: none;
  border-radius: 999px;

  cursor: pointer;
  margin-top: 16px;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.hero-btn:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  color: var(--accent);
  transform: translateY(-2px);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(14, 3, 3, 0.8) 100%
  );

  pointer-events: none;
}

@media (max-width: 900px) {
  .hero {
    padding-top: 100px;
  }
}

@media (max-width: 768px) {
  .hero::before {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .hero {
    padding-top: 100px;
  }

  .hero-layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
  }

  .container {
    grid-column: 1;
    grid-row: 2;
    height: 400px;
    justify-self: center;
  }

  .hero-div {
    grid-column: 1;
    grid-row: 1;
    margin: 1rem 0 0 0;
    height: auto;
    justify-self: center;
  }

  .hero-h1 {
    font-size: 3rem;
  }

  .hero-p {
    font-size: 2rem;
    align-self: center;
  }

  .hero-btn {
    width: 60%;
    font-size: 1.5rem;
    align-self: center;
  }

  .hero-divImg {
    left: 55%;
    right: auto;
    transform: translateX(-55%);
    width: 200px;
    height: 300px;
  }

  .text {
    position: absolute;
    right: auto;
    left: 100px;
    transform: none;
    bottom: 0;
    top: auto;
    background: radial-gradient(
      circle at center,
      transparent 50%,
      #000200(221, 221, 223, 0.6) 94%
    );
  }
}
