.references-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: calc(3 * 310px * 30px);
  margin: 0 auto;
  justify-content: center;
  padding: 0 32px;
  box-sizing: border-box;
}

.references-card {
  position: relative;
  border-radius: 15px;

  padding-right: 8px;
  padding-left: 16px;
  padding-bottom: 8px;

  background: radial-gradient(
    circle at center,
    rgba(89, 253, 252, 0.15) 0%,
    rgba(89, 253, 252, 0.05) 40%,
    rgba(15, 23, 42, 0.8) 100%
  );
  backdrop-filter: blur(8px);

  border: 1px solid rgba(89, 253, 252, 0.15);

  box-shadow: 0 0 30px rgba(89, 253, 252, 0.08);

  border-radius: 32px;
}

.references-h3 {
  color: var(--text);
  text-align: center;
  font-size: 2rem;
  color: #59fdfc;
  text-shadow: 0px 4px 12px #59fdfc;
}

.references-p {
  color: #cbd5e1;
  text-align: left;
  margin: 0;

  padding-bottom: 8px;
  /* font-size: 1.5rem; */
  line-height: 1.4rem;
  padding: 5px 10px 5px 10px;
}

/* .references-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.references-img {
  position: relative;
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.references-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background: radial-gradient(
    circle at center,
    transparent 50%,
    rgba(221, 221, 223, 0.6) 94%
  );
  pointer-events: none;
} */

.ref-btn {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.75);

  color: #ffffff;
  text-decoration: none;

  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.references-card:hover .ref-btn {
  opacity: 1;
  color: var(--accent);
}
