:root {
  --bg: #02090d;
  --card: #111827;
  --text: #cbd5e1;
  --accent: #59fdfc;
  --divbg: rgb(185, 178, 178);
}

:root {
  --font-main: "JetBrains Mono", monospace;
  --font-heading: "JetBrains Mono", monospace;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  background-color: var(--bg);
  font-family: var(--font-main);
}

section {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 4rem;
  padding-left: 4rem;

  position: relative;
  background-color: var(--bg);
  font-family: inherit;
}

.section-h2 {
  color: #cbd5e1;
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  font-family: var(--font-mono);
  text-shadow: 0px 4px 8px #59fdfc;
}
