.weather-h3 {
  color: var(--accent);
  text-align: left;
  font-size: 24px;
  line-height: 1.6;
}

.weatherCard {
  width: 100%;
  max-width: 350px;
  margin-top: 16px;
  background: linear-gradient(180deg, rgb(76, 211, 235), rgb(221, 186, 120));
  padding: 32px;
  border-radius: 24px;
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.cityDisplay,
.tempDisplay {
  font-size: 32px;
  font-weight: bold;
  color: var(--bg);
  margin-bottom: 16px;
}

.humidityDisplay {
  font-weight: bold;
  color: var(--bg);
  margin-bottom: 16px;
}

.descDisplay {
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  color: var(--bg);
  margin-bottom: 16px;
}

.iconDisplay {
  width: 80px;
  height: 80px;
}

.errorDisplay {
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  color: var(--bg);
}
